[submodule "OCA/account-closing"]
	path = OCA/account-closing
	url = git@github.com:OCA/account-closing.git
	branch = 14.0

[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 14.0
